.custom-button{
  font-size: 18px;
  font-weight: bold;
  padding: 8px 45px 8px 45px;
  color: #ffffff;
  background-color:#ffb366;
  outline: none;
  border:none;
  border-radius: 15px;
  cursor: pointer;
  border-bottom: 7px solid #e67300;
  transition: background-color 0.3s, transform 0.2s, border-bottom 0.2s;
}
.custom-button:hover{
  background-color: #ff9933;
}
.clicked{
  transform: translateY(7px);
  border-bottom: none;
}